body {
  font-family: 'Raleway';
  background-color: rgba(26, 37, 51)
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.secondary {
  background-color: #edf0f4;
  max-width: 100%;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.img-responsive {
  max-width: 100%;
}

.card {
  background-color: white;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 21px;
  background-color: rgb(50, 67, 90);
  color: white;
  text-decoration: none;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
}

.instagram-embeds {
  margin-top: 25px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/taipei.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 150px 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  margin: 30px;
}

header h2 {
  font-family: 'Raleway';
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}

header h3 {
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 900;
  line-height: 36px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

header a {
  color: #272044;
  font-weight: 700;
  padding: 16px 32px;
  background-color: white;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
}

main {
  background: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: rgba(26, 37, 51);
  opacity: .3;
  text-transform: uppercase;
  text-align: center;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: rgba(26, 37, 51);
  margin: 0;
  text-align: center;
}

main p {
  color:rgba(26, 37, 51);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: .7;
}

main li {
  margin: 15px 0px;
  text-align: left;
}

table {
  width: 100%;
}

tbody {
  text-align: center;
}

footer {
  background-image: linear-gradient(
    rgba(26, 37, 51, 0.9),
    rgba(26, 37, 51, 0.9)
  ),
  url("../images/nightTaipei.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px;
}

footer a {
  color: white;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
  line-height: 24px;
}

@media (max-width: 960px) {
  body {
    width: 100%;
    margin: 0 auto;
  }

  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  section {
    padding: 75px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  footer {
    padding: 75px;
    text-align: center;
  }

  footer section{
    padding: 25px;
  }

  footer p {
   margin-right: 0;;
  }
}